<link type="text/css" rel="stylesheet" href="/style.css"/>
<link type="text/css" rel="stylesheet" href="/landings.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<head>
    <title>Littleworker</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
<script type="text/javascript">

    (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
    <img onmouseover="hideCollapsedMenu()" class="logo" src="/images/logo.png" alt="LittleWorker">
    <%if (!isMobile) { %>
    <div class="desktop-nav">
        <ul class="desktop-nav-list">
            <%for(let el of Object.values(navigation.elements)){%>

            <li onmouseover="showCollapsedMenu('<%=el.lvl2.id%>')"><a href="#" ><%=el.title%></a> </li>
            <%}%>
                <!--class="current"<li onmouseover="showCollapsedMenu('collapsed-menu-architecte')"><a href="#">Architecture d’intérieur</a> </li>
            <li onmouseover="showCollapsedMenu('collapsed-menu-works')"><a href="#">Travaux de rénovation</a> </li>
            <li onmouseover="showCollapsedMenu('collapsed-menu-guides')"><a href="#">Les guides</a> </li>
            <li onmouseover="showCollapsedMenu('collapsed-menu-about')"><a href="#">À propos</a> </li>-->
            <li onmouseover="hideCollapsedMenu()"><a href="https://www.littleworker.fr/espacepro/">Espace Pro</a> </li>
        </ul>
        <%for(let el of Object.values(navigation.elements)){%>

        <div onmouseleave="hideCollapsedMenu()" id="<%=el.lvl2.id%>" class="collapsed-menu" >

                <div  class="collapsed-menu-content" >
                    <%for(let item of el.lvl2.items){%>

                    <div class="content-row" >
                        <a  class="title" <%if (item.url) {%> href="<%=item.url%>" <%}%>><%=item.title%></a>
                        <%if (item.subItems) {%>
                            <div  class="links">
                                <%for(let subEl of item.subItems){%>
                                <a href="<%=subEl.url%>"> <%=subEl.title%></a>
                                <%}%>
                            </div>
                        <%}%>

                    </div>
                        <%}%>

                    <div class="collapsed-menu-right-image">
                        <img src="/images/backgrounds/home-page-mobile.png" alt="Tendances 2019">
                        <p>Tendances 2019</p>
                    </div>
                </div>
            </div>
        <%}%>

    </div>
    <%}%>

    <div class="right-btn">
        <button class="geoloc-area" onclick="openAndGeoloc()">
            <img class="geoloc-area" src="/images/icons/map-marker.png">
        </button>
        <div id="geoloc" class="geoloc-area geoloc-container">
            <p class="geoloc-area geoloc-text"> Entrez le code postal de votre projet : </p>
            <input id="geoloc-input" type="number" class="geoloc-area geoloc-input"  minlength="5" maxlength="5" onkeypress="detectLocalisation()">
        </div>

        <button class="user-btn">
            <a href="https://auth.littleworker.fr/"><img src="/images/icons/user.png"></a>
        </button>
        <%if (isMobile) { %>
        <button onclick="openAndCloseNav()" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
            <img id="mobile-menu" src="/images/icons/menu.png" >
            <img id="mobile-cross" class="hide" src="/images/icons/croix.svg" >

        </button>
        <%}%>
        <%if (!isMobile) { %>
        <button class="item-estimation-btn" >
            Estimer mon projet
        </button>
        <%}%>
    </div>
    <div id="sidenav" class="sidenav">
        <div class="sidenav-header-title">Menu</div>

        <%for(let el of Object.values(navigation.elements)){%>
        <div class="sidenav-element" id="sidenav-level1">

            <a onclick="showNextLevel('sidenav-level1', '<%=el.lvl2.id%>')" href="#"><%=el.title%><i class="fas fa-chevron-right"></i></a>
            <div class="sidenav-level sidenav-level2" id="<%=el.lvl2.id%>" >
                <div class="sidenav-header-title"><span onclick="goBack('sidenav-level1')">Menu</span> > <%=el.title%></div>
                <%for(let item of el.lvl2.items){%>
                    <div class="sidenav-element">
                        <a  <%if (!item.subItems) {%> href="<%=item.url%>" <%}else {%> onclick="showNextLevel('<%=el.lvl2.id%>', '<%=item.id%>')" <%}%>><%=item.title%><%if (item.subItems) {%><i class="fas fa-chevron-right"></i><%}%></a>
                        <%if (item.subItems) {%>
                        <div class="sidenav-level sidenav-level3" id="<%=item.id%>">
                            <div class="sidenav-header-title"><span onclick="goBack('sidenav-level1')">Menu</span> > <span onclick="goBack('<%=el.lvl2.id%>')"><%=el.title%></span> > <%=item.title%></div>
                            <%for(let subEl of item.subItems){%>

                            <div class="sidenav-element">
                                <a href="<%=subEl.url%>"> <%=subEl.title%></a>
                            </div>
                            <%}%>
                        </div>
                        <%}%>
                    </div>
                <%}%>

            </div>
        </div>
        <%}%>
        <div class="sidenav-element display-bold">
            <a href="/espacepro/">Espace pro</a>
        </div>
    </div>
</nav>

<script>

    function showNextLevel(lvlToHide, lvlToShow) {
        const toHide = document.getElementById(lvlToHide);
        const toShow = document.getElementById(lvlToShow);
        toShow.classList.add('show');
    }
    function goBack(prevEl) {
        const el = document.getElementById(prevEl);
        const nav = document.getElementsByClassName('sidenav-level')
        for (let item of nav) {
            if (item.classList.contains('show')) {
                item.classList.remove('show');
            }
        }
        el.classList.add('show')
    }
    function openAndCloseNav() {
        const navItems = document.getElementsByClassName('sidenav-level')
        for (let item of navItems) {
            if (item.classList.contains('show')) {
                item.classList.remove('show');
            }
        }
        const menuIcon = document.getElementById('mobile-menu');
        const crossIcon = document.getElementById('mobile-cross');
        if (crossIcon.classList.contains('hide')) {
            menuIcon.classList.add('hide');
            crossIcon.classList.remove('hide');
        } else {
            menuIcon.classList.remove('hide');
            crossIcon.classList.add('hide');
        }

        const nav = document.getElementById('sidenav');
        nav.classList.add('show');
        if (this.isMenuOpen) {
            nav.style.width = '0';
            nav.style.boxShadow = 'unset';
            nav.style.opacity = '0';
            this.isMenuOpen = false;
        } else {
            nav.style.width = '90%';
            nav.style.boxShadow = '-16px 15px 15px 4px rgba(111,111,111,0.5)';
            nav.style.opacity = '1';
            this.isMenuOpen = true;
        }
    }
    function showCollapsedMenu(menucollapsed) {
        let collapsedMenus = document.getElementsByClassName('collapsed-menu')
        for (let item of collapsedMenus) {
            if(item.classList.contains('show')) {
                item.classList.remove('show')
            }
        }
        const menu = document.getElementById(menucollapsed);
        menu.classList.add('show');

    }

    function hideCollapsedMenu() {
        let collapsedMenus = document.getElementsByClassName('collapsed-menu')
        for (let item of collapsedMenus) {
            if(item.classList.contains('show')) {
                item.classList.remove('show')
            }
        }
    }
    function openAndGeoloc() {
        let geoloc = document.getElementById('geoloc')
        if (geoloc.classList.contains('show-flex')) {
            geoloc.classList.remove('show-flex')
        } else{
            geoloc.classList.add('show-flex')
        }

    }

</script>
