<link type="text/css" rel="stylesheet" href="/style.css"/>
<%- include('partials/header/main_nav.ejs'); %>
<link href="dist/lity.css" rel="stylesheet">
<script src="vendor/jquery.js"></script>
<script src="dist/lity.js"></script>

<div class="body-home">
    <div class="homepage-header-container">
        <%if (isMobile) {%>
            <img class="background" src="/images/backgrounds/home-page-mobile.png" alt="">
    <%}else {%>
             <img class="background" src="/images/backgrounds/home-page-desktop.png" alt="">
        <%}%>
        <div class="header-content">
            <h1 class="tag">#WeAreHomeShapers</h1>
            <p class="title">Confiez nous vos travaux,
                Emménagez dans un intérieur qui vous ressemble.</p>
            <div class="quotation-btn">
                <p class="quotation-btn-content">Demander un devis</p>
            </div>
            <%if (isMobile) { %>
                <a class="down-arrow js-scrollTo" href="#pourquoi-nous-faire-confiance"><i class="fas fa-arrow-down down-arrow-mobile bounce"></i></a>
            <%}%>
            <div class="tv-talk">
                <p class="tv-talk-title">Ils parlent de nous</p>
                <div class="tv-talk-logos">
                    <img src="/images/logos/france2.png" alt="France 2">
                    <img src="/images/logos/bfmtv.png" alt="BFM TV">
                    <img src="/images/logos/france3.png" alt="France 3">

                </div>
            </div>
            <%if (!isMobile) { %>
                <a class="down-arrow js-scrollTo" href="#pourquoi-nous-faire-confiance"><i class="fas fa-arrow-down down-arrow bounce"></i></a>
            <%}%>
        </div>
    </div>
    <div class="homepage-body-container" id="pourquoi-nous-faire-confiance">
        <div class="why-trust">
            <h2 class="title section-title">
                Pourquoi nous faire confiance ?
            </h2>
            <div class="line"></div>
            <div class="why-trust-content">
                <div class="trust-group">
                    <img src="/images/pictos/home.svg" alt="">
                    <h3 class="trust-title">200 chantiers en 2018</h3>
                    <a class="blue" href="#">Je veux les voir !</a>
                </div>
                <div class="trust-group">
                    <img src="/images/pictos/ticket.png" alt="">
                    <h3 class="trust-title">Des travaux au prix du marché</h3>
                    <a class="orange" href="#">Estimez vous verrez !</a>
                </div>
                <div class="trust-group">
                    <img src="/images/pictos/certificate.png" alt="">
                    <h3 class="trust-title">Des travaux garantie 10 ans</h3>
                    <a class="blue" href="#">Comment ca marche ?</a>
                </div>
                <div class="trust-group">
                    <img src="/images/pictos/worker.png" alt="">
                    <h3 class="trust-title">Un chef de chantier pour votre projet</h3>
                    <a class="orange" href="#">Qui sont-ils ?</a>
                </div>
            </div>
        </div>
        <div class="parallax-homepage"></div>

        <div class="intervention-zone">
            <h2 class="title section-title">Nos zones d'interventions</h2>
            <div class="line"></div>
            <div class="intervention-zone-content">
                <div class="intervention-zone-item">
                    <img src="/images/paris.png" alt="Tendances 2019">
                    <div class="filter"></div>
                    <div class="item-text">
                        <p class="item-title">Paris </p>
                        <p class="item-desc">et sa petite couronne</p>
                    </div>
                </div>
                <div class="intervention-zone-item">
                    <div class="filter"></div>
                    <img src="/images/bordeaux.jpg" alt="Tendances 2019">
                    <div class="item-text">
                        <p class="item-title">Bordeaux</p>
                        <p class="item-desc">et sa communauté urbaine</p>
                    </div>
                </div>
            </div>
            <div class="soon-container">
                <h2 class="section-title">et bientôt : </h2>
                <div class="soon-content">
                <span class="soon-item">
                    Nantes
                </span>
                    <span class="soon-item">
                    Toulouse
                </span>
                    <span class="soon-item">
                    Lille
                </span>
                    <span class="soon-item">
                    Lyon
                </span>
                </div>
            </div>


        </div>

        <div class="renovation-container d-flex-align">
            <h2 class="section-title">Nos dernières rénovations</h2>
            <div class="line"></div>
                <div class="body-content">
                    <%if (isMobile) {%>
                    <div class="items-container">
                        <% projects.slice(-3).forEach((p) => { %>
                        <div class="items-content">
                            <img onmouseover="onProjectHover('<%=p.id%>-img', '<%=p.id%>-titles')"  class="item-img" src="/<%=p.images.main.url%>" alt="<%=p.images.main.alt%>">
                            <div onmouseleave="onProjectLeave('<%=p.id%>-img', '<%=p.id%>-titles')" id="<%=p.id%>-img" class="item-hover-content">
                                <div class="item-hover-content-title">Surface : <span class="item-hover-content-value"><%=p.surface%> m2</span></div>
                                <div class="item-hover-content-title">Budget : <span class="item-hover-content-value"><%=p.budgect%></span></div>
                                <div class="item-hover-content-title">Durée : <span class="item-hover-content-value"><%=p.duration%> mois</span></div>
                                <button class="item-hover-content-btn"><a href="/projects/<%=p.slug%>">Voir le projet <i class="fas fa-arrow-right"></i></a></button>
                            </div>
                            <div id="<%=p.id%>-titles" class="item-titles">
                                <h2 class="item-title"><%= p.title %></h2>
                                <p class="item-city"><%= p.cities %></p>
                            </div>
                        </div>
                        <%})%>
                    </div>
                    <%}else {%>
                        <div class="body-tags">
                            <button class="tags-btn display-tag-selected" id="appartments" onclick="changeSelectedTag('Appartements', <%=JSON.stringify(projects)%>, 'appartments')">Appartements</button>
                            <button class="tags-btn" id="homes" onclick="changeSelectedTag('Maisons',<%=JSON.stringify(projects)%>, 'homes')">Maisons</button>
                            <button class="tags-btn" id="paris" onclick="changeSelectedTag('Paris - IDF',<%=JSON.stringify(projects) %>, 'paris')">Paris - IDF</button>
                            <button class="tags-btn" id="bordeaux" onclick="changeSelectedTag('Bordeaux - CUB',<%=JSON.stringify(projects)%>, 'bordeaux')">Bordeaux - CUB</button>
                            <button class="tags-btn" id="current" onclick="changeSelectedTag('En cours',<%=JSON.stringify(projects)%>, 'current')">En cours</button>
                        </div>
                        <div id="item-display" class="items-container">
                        </div>
                    <%}%>
                </div>
        </div>
        <div class="buttons-container">
            <button class="ask-quotation">
                <a href="">Demander un devis gratuit</a>
            </button>
            <button class="see-projects">
                <a href="/projects/list">Voir tous les projets</a>
            </button>
        </div>
        <div class="home-satisfaction-container">
            <h2 class="section-title">Ils sont satisfaits de leurs travaux</h2>
            <div class="line"></div>
            <div class="home-satisfaction-content">
                <img class="satisfaction-img" src="/images/satisfaction.png" alt="">
                <div class="feedbacks-container">
                    <p class="satisfaction-text">Nous avons fait appel à Little Worker pour la rénovation de notre appart. C'est la première fois que nous faisions
                        ce type de projet et l'équipe a été à l'écoute, disponible et très patiente ! Ils nous ont rassuré à chaque étape du projet et le résultat nous
                        plaît beaucoup. C'est très confortable de pouvoir s'appuyer sur eux, notamment quand on travaille et qu'on ne s'y connaît pas en rénovation.
                        C'est un gain de temps et d'énergie pour un super résultat ! </br> </br>Aurélien C - Juin 2019</p>
                    <h2 class="see-quotations">Voir les avis sur : </h2>
                    <div class="satisfaction-buttons">
                        <button class="trustpilot-btn"><a href="#"><i class="fas fa-star"></i>Trustpilot</a></button>
                        <button class="google-btn"><a href="#"><i class="fab fa-google"></i>Google</a></button>
                    </div>
                </div>

            </div>


        </div>

        <div class="unique-container">
            <h2 class="title section-title">Ce qui nous rend unique</h2>
            <div class="line"></div>
            <div class="unique-content">
                <div class="unique-item">
                    <img src="/images/pictos/simplicity.png" alt="">
                    <h2 class="unique-title">#Simplicité</h2>
                    <p class="unique-desc">Nous vous avons concocté un espace personnel en ligne aux
                        petits oignons. Vous accédez en instantané à toutes vos informations : devis interactif,
                        planning, matériaux, photos heure par heure, et échanges avec notre équipe.
                    </p>
                </div>
                <div class="unique-item">
                    <img src="/images/pictos/locker.png" alt="">
                    <h2 class="unique-title">#Sécurité</h2>
                    <p class="unique-desc">Pendant toute la durée du chantier, le montant des
                        travaux est en sécurité sur un compte tiers à votre nom. Les montants ne
                        seront reversés à l’entrepreneur qu’une fois le chantier terminé. </p>
                </div>
                <div class="unique-item">
                    <img src="/images/pictos/security.png" alt="">
                    <h2 class="unique-title">#Tiersdeconfiance</h2>
                    <p class="unique-desc">En tant que contractant général, nous sommes à vos cotés avant,
                        pendant et après la réalisation de votre projet. Nous pilotons votre projet à chaque étape
                        clé et nous rencontrons de manière hebdomadaire nos entrepreneurs. </p>
                </div>
            </div>
        </div>

        <%if (!isMobile) {%>
            <div class="before-after-container">
                <div class="wrapper">
                    <div class="before">
                        <img class="content-image" src="/images/after.jpg" draggable="false"/>   </div>
                    <div class="after">
                        <img class="content-image" src="/images/before.jpg" draggable="false"/>
                    </div>
                    <div class="scroller">
                        <svg class="scroller__thumb" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><polygon points="0 50 37 68 37 32 0 50" style="fill:#fff"/><polygon points="100 50 64 32 64 68 100 50" style="fill:#fff"/></svg>
                    </div>
                </div>
            </div>
        <%}%>
        <div class="hometour-container">
            <h2 class="section-title">Home Tour chez Juliette : architecte partenaire depuis 2 ans</h2>
            <div class="line"></div>
            <div class="hometour-content">
                <div class="hometour-video-content">

                    <div class="hometour-video">
                        <img class="hometour-video-image" src="/images/videohome.jpg" alt="">
                        <a href="https://youtu.be/TrmQd2Mv0uY" data-lity><div class="video-play-btn"><i class="fas fa-play"></i></div></a>
                    </div>
                    <div class="hometour-video-title-container">
                        <h2>Rénovation d’un appartement parisien.</h2>
                        <div class="hometour-subtitles">
                            <p>Découvrir la vidéo</p>
                            <div class="satisfaction-line"></div>
                            <a href="https://youtu.be/TrmQd2Mv0uY" data-lity><i class="fas hometour-player fa-play"></i></a>
                        </div>

                    </div>
                </div>
                <div class="hometour-text-content">
                    <div class="left-line"></div>
                    <p class="hometour-text">Après plusieurs mois de recherche, Juliette et Maxime ont enfin trouvé leur appartement coup de coeur !
                        Localisation, surface, luminosité, tout ce qui leur fallait, réuni en plein coeur de Paris.</br></br>
                        Seul hic.. Quelques travaux de rénovation étaient nécessaires. Qu’à cela ne tienne ! Avec Little Worker,
                        ils ont pu rénover entièrement leur appartement, en six semaines, et sans retard !</br></br>
                        Nous vous laissons découvrir leur nouvel intérieur, enfin à leur image.
                    </p>
                    <a class="all-projects-link" href="/projects/list"><i class="fas fa-caret-right"></i>Voir tous nos projets à Bordeaux</a>
                </div>
            </div>
        </div>



    </div>
</div>

<%- include partials/footer/footer.ejs %>

<script>
    let bdxCode = ['33000', '33100']
    let parisCode = ['92000', '93000']
    let isFromParis = false;
    let isFromBordeaux = false;
    let active = false;

    function detectLocalisation() {
        const geolocInput = document.getElementById("geoloc-input");
        const value = geolocInput.value;
        console.log(value);
        if (bdxCode.includes(value)) {
            console.log('true')
        } else {
            console.log('false')
        }
    }

    document.querySelector('.scroller').addEventListener('mousedown',function(){
        active = true;

        document.querySelector('.scroller').classList.add('scrolling');
    });

    document.body.addEventListener('mouseup',function(){
        active = false;
        document.querySelector('.scroller').classList.remove('scrolling');
    });
    document.body.addEventListener('mouseleave',function(){
        active = false;
        document.querySelector('.scroller').classList.remove('scrolling');
    });

    document.body.addEventListener('mousemove',function(e){
        if (!active) return;
        let x = e.pageX;
        x -= document.querySelector('.wrapper').getBoundingClientRect().left;
        scrollIt(x);
    });

    function scrollIt(x){
        let transform = Math.max(0,(Math.min(x,document.querySelector('.wrapper').offsetWidth)));
        document.querySelector('.after').style.width = transform+"px";
        document.querySelector('.scroller').style.left = transform-25+"px";
    }


    scrollIt(150);

    document.querySelector('.scroller').addEventListener('touchstart',function(){
        active = true;
        document.querySelector('.scroller').classList.add('scrolling');
    });
    document.body.addEventListener('touchend',function(){
        active = false;
        document.querySelector('.scroller').classList.remove('scrolling');
    });
    document.body.addEventListener('touchcancel',function(){
        active = false;
        document.querySelector('.scroller').classList.remove('scrolling');
    });

    function onProjectHover(idimg, idtitles) {
        document.getElementById(idimg).classList.add('display-item-hover')
        document.getElementById(idtitles).classList.add('display-bold')
    }
    function onProjectLeave(idimg, idtitles) {
        document.getElementById(idimg).classList.remove('display-item-hover')
        document.getElementById(idtitles).classList.remove('display-bold')
    }

    changeSelectedTag = function(tag, projects, id) {
        let btns = document.getElementsByClassName('tags-btn')
        for (let item of btns) {
            if(item.classList.contains('display-tag-selected')) {
                item.classList.remove('display-tag-selected')
            }
        }
        document.getElementById(id).classList.add('display-tag-selected')
        selectedTag = tag;
        selectedTag = tag;
        var main = document.getElementById('item-display');
        main.innerHTML = '';
        projects.forEach(el => {
            if (el.tags.includes(selectedTag)) {

                const itemsContent = document.createElement('div');
                const itemImg = document.createElement('img');
                const itemHoverContent = document.createElement('div');
                const itemSurface = document.createElement('div');
                const itemBudget = document.createElement('div');
                const itemDuration = document.createElement('div');
                const itemSurfaceValue = document.createElement('span');
                const itemBudgetValue = document.createElement('span');
                const itemDurationValue = document.createElement('span');
                const itemTitle = document.createElement('h2');
                const itemCity = document.createElement('p');
                const itemHoverContentBtn = document.createElement('button');
                const btnArrow = document.createElement('i');

                const itemTitles = document.createElement('div');

                //add class
                itemImg.className = 'item-img';
                itemsContent.className = 'items-content';
                itemHoverContent.className = 'item-hover-content';
                itemSurface.className = 'item-hover-content-title';
                itemBudget.className = 'item-hover-content-title';
                itemDuration.className = 'item-hover-content-title';
                itemSurfaceValue.className = 'item-hover-content-value';
                itemBudgetValue.className = 'item-hover-content-value';
                itemDurationValue.className = 'item-hover-content-value';
                btnArrow.className = 'fas fa-arrow-right';
                itemHoverContentBtn.className = 'item-hover-content-btn';
                itemTitle.className = 'item-title';
                itemCity.className = 'item-city';

                //add event listener
                itemsContent.addEventListener("mouseenter", function () {
                    itemHoverContent.classList.add('display-item-hover');
                    itemTitles.classList.add('display-bold')  ;
                });
                itemHoverContent.addEventListener("mouseleave", function () {
                    itemHoverContent.classList.remove('display-item-hover');
                    itemTitles.classList.remove('display-bold')  ;
                });
                itemHoverContentBtn.addEventListener("click", function () {
                    window.open('/projects/' + el.slug, "_self");
                });
                //put content
                itemTitle.innerHTML = el.title;
                itemCity.innerHTML = el.cities;
                itemSurface.innerText = 'Surface : ';
                itemBudget.innerText = 'Budget : ';
                itemDuration.innerText = 'Durée : ';
                itemSurfaceValue.innerHTML = el.surface + ' m2';
                itemBudgetValue.innerHTML = el.budgect;
                itemDurationValue.innerHTML = el.duration + '  mois';

                itemImg.src = '/' + el.images.main.url;
                itemImg.alt = el.images.main.alt;
                itemHoverContentBtn.innerText = 'Voir le projet';
                //display
                itemSurface.appendChild(itemSurfaceValue);
                itemBudget.appendChild(itemBudgetValue);
                itemDuration.appendChild(itemDurationValue);

                itemHoverContent.appendChild(itemSurface);
                itemHoverContent.appendChild(itemBudget);
                itemHoverContent.appendChild(itemDuration);
                itemHoverContentBtn.appendChild(btnArrow);
                itemHoverContent.appendChild(itemHoverContentBtn);
                itemTitles.appendChild(itemTitle);
                itemTitles.appendChild(itemCity);
                itemsContent.appendChild(itemImg);
                itemsContent.appendChild(itemHoverContent);
                itemsContent.appendChild(itemTitles);
                main.appendChild(itemsContent);
            }

        });

    }
    document.getElementById('appartments').click();


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.js-scrollTo').on('click', function() { // Au clic sur un élément
            var page = $(this).attr('href'); // Page cible
            var speed = 750; // Durée de l'animation (en ms)
            $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
            return false;
        });
    });
</script>
