<%- include partials/header/main_nav.ejs %>


<div class="body">
    <%if (!isMobile) {%>

    <div class="breadcrumb">
        Accueil > Rénovation d’appartement > Nos réalisations > Appartements
    </div>
    <div class="custom-header-container">
        <div class="header-titles">
            <h1 class="header-title">Nos shapers <span class="gold-star-large">*</span></h1>
            <button class="header-btn">Demander un devis</button>
            <p class="header-htag"><span class="gold-star">*</span>architectes ou entrepreneurs passionnés</p>
        </div>
        <div class="header-img">

            <img src="/images/projects-background.png" alt="">
        </div>
    </div>
    <%}else {%>
    <div class="mobile-custom-header">
        <img class="background" src="/images/projects-background.png" alt="">
        <div class="header-content">
            <h1 class="title">Nos shapers </h1>
            <i class="fas fa-arrow-down down-arrow-mobile bounce"></i>
        </div>
    </div>

    <%}%>
    <div class="body-container">
        <div class="body-content">
            <div class="body-tags">
                <button class="tags-btn display-tag-selected" id="architect" onclick="changeSelectedTag('Architectes', <%=JSON.stringify(shapers)%>,'architect')">Architectes</button>
                <button class="tags-btn" id="worsite-manager" onclick="changeSelectedTag('Chefs de chantier', <%=JSON.stringify(shapers)%>,'worsite-manager')">Chefs de chantier</button>
                <button class="tags-btn" id="decorator" onclick="changeSelectedTag('Decorateur', <%=JSON.stringify(shapers)%>,'decorator')">Décorateur</button>
                <button class="tags-btn" id="paris" onclick="changeSelectedTag('Paris', <%=JSON.stringify(shapers)%>,'paris')">Paris</button>
                <button class="tags-btn" id="bordeaux" onclick="changeSelectedTag('Bordeaux', <%=JSON.stringify(shapers)%>,'bordeaux')">Bordeaux</button>

            </div>
            <div id="item-display" class="items-container">
            </div>
        </div>
    </div>
    <ul>

    </ul>
</div>
<%- include partials/templates/maillage.ejs%>

<%- include partials/footer/footer.ejs %>

<script type="text/javascript">

    changeSelectedTag = function(tag, shapers, id) {
        let btns = document.getElementsByClassName('tags-btn')
        for (let item of btns) {
            if(item.classList.contains('display-tag-selected')) {
                item.classList.remove('display-tag-selected')
            }
        }
        document.getElementById(id).classList.add('display-tag-selected')
        selectedTag = tag;
        selectedTag = tag;
        console.log(selectedTag);
        var main = document.getElementById('item-display');
        main.innerHTML = '';
        shapers.forEach(el => {
            if (el.tags.includes(selectedTag)) {
                console.log(el)
                //create div
                const itemsContent = document.createElement('div');
                const itemImg = document.createElement('img');
                const itemHoverContent = document.createElement('div');
                const itemTitle = document.createElement('h2');
                const itemCity = document.createElement('p');
                const itemHoverContentBtn = document.createElement('button');
                const btnArrow = document.createElement('i');

                const itemTitles = document.createElement('div');

                //add class
                itemImg.className = 'item-img';
                itemsContent.className = 'items-content';
                itemHoverContent.className = 'item-hover-content';
                btnArrow.className = 'fas fa-arrow-right';
                itemHoverContentBtn.className = 'item-hover-content-btn';
                itemTitle.className = 'item-title';
                itemCity.className = 'item-city';

                //add event listener
                itemsContent.addEventListener("mouseenter", function () {
                    itemHoverContent.classList.add('display-item-hover');
                    itemTitles.classList.add('display-bold')  ;
                });
                itemHoverContent.addEventListener("mouseleave", function () {
                    itemHoverContent.classList.remove('display-item-hover');
                    itemTitles.classList.remove('display-bold')  ;
                });
                itemHoverContentBtn.addEventListener("click", function () {
                    window.open('/shapers/' + el.slug, "_self");
                });
                //put content
                itemTitle.innerHTML = el.title;
                itemCity.innerHTML = el.cities;

                itemImg.src = '/' + el.images.main.url;
                itemImg.alt = el.images.main.alt;
                itemHoverContentBtn.innerText = 'Voir le projet';
                //display

                itemHoverContentBtn.appendChild(btnArrow);
                itemHoverContent.appendChild(itemHoverContentBtn);
                itemTitles.appendChild(itemTitle);
                itemTitles.appendChild(itemCity);
                itemsContent.appendChild(itemImg);
                itemsContent.appendChild(itemHoverContent);
                itemsContent.appendChild(itemTitles);
                main.appendChild(itemsContent);
            }

        });

    }
    document.getElementById('architect').click();


</script>
